# This .gitignore file should be placed at the root of your Unity project directory
#
# Get latest from https://github.com/github/gitignore/blob/main/Unity.gitignore
#
/[Aa]nimations/
/[Ff]x's/
/[Ll]ocalization/
/[Mm]aterials/
/[Bb]uilds/
/[Pp]ictures and Stickers/
/[Pp]refabs/
/[Ss]cenes/
/[Ss]ettings/
/[Ss]ound Config/
/[Tt]extures/
/[Vv]ideos/