Assets/_Project/Animations/** filter=lfs diff=lfs merge=lfs -text
Assets/_Project/Fonts/** filter=lfs diff=lfs merge=lfs -text
Assets/_Project/Fxs/** filter=lfs diff=lfs merge=lfs -text
Assets/_Project/Images/** filter=lfs diff=lfs merge=lfs -text
Assets/_Project/Localization/** filter=lfs diff=lfs merge=lfs -text
Assets/_Project/Materials/** filter=lfs diff=lfs merge=lfs -text
Assets/_Project/Prefabs/** filter=lfs diff=lfs merge=lfs -text
Assets/_Project/Scenes/** filter=lfs diff=lfs merge=lfs -text
Assets/_Project/Sound/** filter=lfs diff=lfs merge=lfs -text