# Ignorar todo por defecto
*

# Permitir solo las carpetas deseadas
!/[Ss]cripts/
!/[Tt]ext SO's/

# Asegurar que los archivos dentro de esas carpetas sean rastreados
!/[Ss]cripts/**
!/[Tt]ext SO's/**

# Extensiones únicas
.DS_Store