# Ignorar todo por defecto
*

# Incluir todas las carpetas dentro de Assets/_Project/
!Assets/
!Assets/**

!.gitattributes

# Incluir archivos específicos de ProjectSettings y Packages
!ProjectSettings/
!Packages/
!ProjectSettings/**
!Packages/**

# Excluir carpetas que no deben compartirse
Library/
Logs/
Temp/

# Ignorar extensiones y archivos no deseados
.DS_Store
