Videos/
Textures/
Models/

Scenes/Afternoon Scene/
Scenes/Evening Scene/
Scenes/Night Scene/
Scenes/Menu Afternoon/
Scenes/Menu Evening/
Scenes/Menu Night/

!.gitignore

# Ignorar extensiones y archivos no deseados
.DS_Store